.login-body{
    background-color: #15171E;
    height: 100%;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 8rem;
}

.title {
    color: #fff;
}