.navbar-logo img{
    height: 10%;
    width: 5%;
}

.navbar-logo {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Navbar {
    height: 10vh;
    background: linear-gradient(122deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(3,1,34,1) 68%, rgba(12,7,87,1) 84%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar-gameLogoImage img{
    position: absolute;
    bottom: 37.5%;
    left: 50%;
    width: 64px;
    height: 64px;
    transform: translateX(-50%);
    filter: brightness(100%) contrast(100%);
}

.NavDropdown.Item {
    background: cornflowerblue;
}


.navbar-modalContent {
    z-index: 1;
    position: relative;
}

.Navbar a, .Navbar div, .Navbar img, .Navbar nav {
    box-sizing: border-box;
    vertical-align: baseline;
}